* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eaeaea;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
}


.top {
    padding: 10px 20px;
    border-bottom: 1px solid #c7c7c7;
}

.logo {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}


.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}


.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left img {
    width: 100%;
    display: block;
}


.right {
    flex: 2;
}

.right h1 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.ingress {
    font-weight: bold;
    margin-bottom: 15px;
}

.right p {
    margin-bottom: 15px;
    line-height: 1.5;
}

img {
    transition: transform 0.35s ease, filter 0.35s ease;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.07);
    filter: brightness(80%) contrast(100%);
}

.side-ad {
    position: fixed;
    top: 120px;
    width: 210px;
    height: 680px;
    z-index: 999;

}

.left-ad {
    left: 10px;
}

.right-ad {
    right: 10px;
}