* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eaeaea;
    font-size: 15px;
    line-height: 1.5;
}

.page {
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}


.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #c7c7c7;
}

.top img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.top nav {
    margin: 5px 0;
}

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.venstre,
.høyre {
    flex: 1 1 100%;
    min-width: 0;
}

.venstre {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.venstre img {
    width: 100%;
    height: auto;
    display: block;
}


.høyre {
    flex: 2 1 100%;
}

@media (min-width: 768px) {
    .venstre {
        flex: 1;
    }

    .høyre {
        flex: 2;
    }
}

.høyre h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.ingress {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.høyre p {
    margin-bottom: 20px;
    line-height: 1.7;
    max-width: 70ch;
}

img {
    transition: transform 0.35s ease, filter 0.35s ease;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.04);
    filter: brightness(90%) contrast(100%);
}

.side-ad {
    position: fixed;
    top: 120px;
    width: 210px;
    height: 680px;
    z-index: 999;

}

.venstre-ad {
    left: 10px;
}

.høyre-ad {
    right: 10px;
}

@media (max-width: 1100px) {
    .side-ad {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 320px;
        margin: 10px auto;
        display: block;
    }

    .venstre-ad,
    .høyre-ad {
        left: auto;
        right: auto;
    }
}

@media (max-width: 1100px) {
    .side-ad {
        display: none;
    }
}

.videobilde {
    text-align: center;
    margin-top: 20px;
}

.video-img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding-block-end: 15px;
}

footer {
    background-color: rgb(18, 56, 139);
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}