* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eaeaea;
    font-size: 15px;
    line-height: 1.5;
}

.page {
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}


.top {
    padding: 10px 20px;
    border-bottom: 1px solid #c7c7c7;
}

.logo {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}


.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}


.venstre {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.venstre img {
    width: 100%;
    display: block;
}


.høyre {
    flex: 2;
}

.høyre h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.ingress {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.høyre p {
    margin-bottom: 20px;
    line-height: 1.7;
    max-width: 70ch;
}

img {
    transition: transform 0.35s ease, filter 0.35s ease;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.04);
    filter: brightness(90%) contrast(100%);
}

.side-ad {
    position: fixed;
    top: 120px;
    width: 210px;
    height: 680px;
    z-index: 999;

}

.venstre-ad {
    left: -70px;
}

.høyre-ad {
    right: -70px;
}

@media (max-width: 1100px) {
    .side-ad {
        position: static;
        width: 100%;
        height: auto;
        max-width: 320px;
        margin: 10px auto;
        display: block;
    }

    .content {
        flex-direction: column;
    }
}

.video-seksjon {
    padding: 40px 0;
    text-align: center;
}