body {
    background-color: #f2e9e4;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 4px 40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

header h1 {
    margin: 0;
}

header img {
    height: 90px;
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 200;
}
