header {
  background-color: rgb(18, 56, 139);
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

nav img{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}