header {
  background-color: rgb(18, 56, 139);
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

nav img{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1cm;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 200;
}