* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 234, 241);
}

header {
    background-color: rgb(255, 255, 255);
    padding: 8px 40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

header img {
    height: 100px;
    margin-left: 40px;
}

nav {
    display: flex;
    gap: 1cm;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.hero {
    width: 100%;
    display: block;
    margin-top: 0;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 40px;
    background: #ffffff;
    text-align: center;
}

.feature-box {
    width: 30%;
}

.feature-box .icon i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #333;
}

.feature-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.feature-box p {
    font-size: 15px;
    color: #555;
}

@media (max-width: 800px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        width: 80%;
        margin-bottom: 40px;
    }
}

.icon .material-symbols-outlined {
    font-size: 40px;
}

.primary-content {
    background-color: #ffffff;
    padding: 70px 40px;
    text-align: center;
    border-radius: 12px;
    margin: 80px auto;
    max-width: 1100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.primary-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #3b2e63;
}

.primary-content p {
    max-width: 750px;
    margin: 0 auto 45px auto;
    font-size: 19px;
    line-height: 1.6;
    color: #4d4d4d;
}

.primary-video-link {
    position: relative;
    display: inline-block;
    width: 100%;
}

.primary-video-link img:hover {
    filter: brightness(90%);
    width: 100%;
    display: block;
}

.primary-video-link .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: white;
    opacity: 0.8;
    pointer-events: none;
}