h1 {
  color: rgb(253, 137, 157);
  font-size: 50px;
  text-align: center;
  padding: 30px;
}

.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 100px);
}

.item {
  border: 3px solid black;
}