h1 {
  color: rgb(253, 137, 157);
  font-size: 50px;
  text-align: center;
  padding: 30px;
}

.container{
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(4, 400px);
 gap: 20px;
 margin: auto;
 max-width: 1200px;
 padding: 30px;
 }


.item {
  border: 3px solid black;
}