h1 {
  color: rgb(253, 137, 157);
  font-size: 50px;
  text-align: center;
  padding: 30px;
}

body {
 background-color: rgb(242, 242, 242);
}

.container{
 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: repeat(6, 200px);
 display: grid;
 gap: 20px;
 margin: auto;
 max-width: 1200px;
 padding: 30px;
 
 }


.item {
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgb(132, 132, 132);
  background-color: white;
  

}

.stor {
 grid-column: span 6;
 grid-row: span 1;
}