main {
    background-color: #f3f4f4;
}

h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
}

.overskrift {
    background-image: url(Bilder/info_hoved.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    padding-top: 200px;
}


.h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;

}

h1 {
    font-size: 70px;
}

.s1 {
    height: 450vh;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}

.s1 aside {
    
    height: 100%;
    padding: 20px;
    padding-top: 200px;
    padding-left: 50px;
}

.link{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.s1 aside a{
    text-decoration: none;
    color: black;
    border-bottom: black solid 1px;
    font-size: larger;
}

.s1 article {
    
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s1 article div h2 {
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: lightgray 1px solid;
    padding-bottom: 10px;
}

.s1 article div p {
    font-size: 24px;
    margin-top: 10px;
    line-height: 35px;
}

.images{
    padding: 20px;
    padding-left: 0;
}
.images div {
    background-color: white;
}
.images p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
}
.bilde1{
    padding: 20px;
    margin-top: 200px;
}

.bilde2{
    padding: 20px;
    margin-top: 60px;
}

.bilde3{
    padding: 20px;
    margin-top: 30px;
}