main {
    padding-top: 60px;
    background-color: #f3f4f4;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
}

.overskrift {
    background-image: url(Bilder/info_hoved.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    width: 1300px;
    height: 500px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    padding-top: 200px;
}


.h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    
}

.s1 {
    height: 425vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.s1 aside {

    height: 100%;
    padding: 20px;
    padding-top: 200px;
    padding-left: 50px;
}

.link {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.s1 aside a {
    text-decoration: none;
    color: black;
    border-bottom: black solid 1px;
    font-size: larger;
}

.s1 article {

    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s1 .tekst {
    width: 55%;
}

.s1 .tekststor {
    width: 80%;
    font-size: 24px;
    margin-top: 10px;
    line-height: 35px;
}

.s1 article div h2 {
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: lightgray 1px solid;
    padding-bottom: 10px;
}

.s1 article .tekst p {
    font-size: 24px;
    margin-top: 10px;
    line-height: 35px;
}

.opptak {
    display: flex;
    justify-content: space-between;
}

.digitalisering{
    display: flex;
    justify-content: space-between;
}

.bilde1 {
    width: 40%;
    padding: 20px;
    background-color: white;
}

.stor{
    display: flex;
    justify-content: space-between;
}

.stortekst {
    width: 35%;
    margin-right: 40px;
}


.storbilde1 {
    width: 60%;
    height: 98%;
}

.bilde1 p {
    font-size: larger;
    line-height: 30px;
}

.images {
    padding: 20px;
    padding-left: 0;
}

.images div {
    background-color: white;
}

.images p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
}



.img1 .button1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}

button {

    border: none;
    background-color: transparent;
}

.button{
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: lightgray solid 1px;
}

.fa-magnifying-glass-plus {
    font-size: x-large;
}

.fa-magnifying-glass-minus{
    font-size: x-large;
}

footer{
    background-color: #56d3ed;
}

.om{
    padding-top: 50px;
    margin: auto;
    width: 70%;
    padding-bottom: 30px;
}

.fh2{
    font-size: x-large;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: black solid 1px;
    margin-bottom: 10px;
}

.fp{
    text-align: center;
}

.copyright{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    margin-left: 50px;
}

.copyright h2{
    border-right: black solid 1px;
    padding-right: 10px;
}

.copyright p{
    padding-top: 5px;
    padding-left: 10px;
}